.container {
  @apply relative cursor-pointer;

  .slider {
    @apply aspect-[20/19] rounded-xl overflow-clip relative;

    position: relative;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
  }

  .slide {
    @apply h-full w-full relative;

    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
