.container {
  @apply mt-3 flex gap-x-2 justify-between;

  div:first-child {
    @apply text-[15px] leading-[19px];
    div:nth-child(1) {
      @apply font-semibold;
    }
    div:nth-child(2) {
      @apply text-alt-2;
    }
    div:nth-child(3) {
      @apply text-alt-2;
    }
    div:nth-child(4) {
      @apply mt-[6px];
      span {
        @apply font-semibold;
      }
    }
  }
  div:last-child div {
    @apply flex items-center;
    span {
      @apply ml-1;
    }
  }
}
